@import '../../../styles.scss';

.education-content{
    font-size:1em;
    color:$green4;
    padding-left:40px;

    p{
        line-height: 1.5em;
    }

    .companie{
        display: inline-block;
        padding-right:10px;
        border-right: 2px solid $green4;
        margin-bottom:4px;
        color:$green3;
    }

    .date{
        display: inline-block;
        padding-left:10px;
        margin-bottom:4px;
    }

    .job-name{
        margin: 0px 0px 4px 0px;
        color:$red3;
    }

    .job-description{
        margin: 0px 0px 8px 0px;
        color:$green4;
    }
}