<div class="topbar">
    <div class="names-job">
      <div class="first-name"><b>{{'header.firstname' | translate}}</b></div>
      <div class="last-name"><b>{{'header.lastname' | translate}}</b></div>
      <div class="job">{{ 'header.job' | translate }}</div><!--  -->
    </div>
    <div class="vertical-line"></div>
    <div class="contact">
      <div class="contact-tel">
        <i class="fas fa-mobile-alt"></i>
        <div class="tel">{{'header.phonenumber' | translate}}</div>
      </div>
      <div class="contact-linkedin">
        <i class="fas fa-city"></i>
        <div class="linkedin">{{'header.location' | translate}}</div>
      </div>
      <div class="contact-mail">
        <i class="fas fa-at"></i>
        <div class="mail">{{'header.mail' | translate}}</div>
      </div>
      <div class="contact-linkedin">
        <i class="fab fa-linkedin-in"></i>
        <div class="linkedin">{{'header.linkedin' | translate}}</div>
      </div>
    </div>
</div>
