<div class="aside-left-container">
  <div class="id-part">
    <div class="ma-photo-container" appDisablerightclick>
    </div>
  </div>
  <!-- -->
  <div class="informations" *ngIf="!isLandscape">
    <div class="names-job-contact">
      <p class="names">{{'header.firstname' | translate}}<br>{{'header.lastname' | translate}}</p>
      <p class="job">{{'header.job' | translate}}</p>
      <div class="contact">
        <div class="contact-content">
          <div class="icon">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <div class="contact-info">{{'header.phonenumber' | translate}}</div>
        </div>
        <div class="contact-content">
          <div class="icon">
            <i class="fas fa-city"></i>
          </div>
          <div class="contact-info">{{'header.location' | translate}}</div>
        </div>
        <div class="contact-content">
          <div class="icon">
            <i class="fas fa-at"></i>
          </div>
          <div class="contact-info">{{'header.mail' | translate}}</div>
        </div>
        <div class="contact-content">
          <div class="icon">
            <i class="fab fa-linkedin-in"></i>
          </div>
          <div class="contact-info">{{'header.linkedin' | translate}}</div>
        </div>
      </div>
    </div>
    <div class="about-me" *ngIf="!isLandscape">
      <article class="working-environment">
        <div class="title">
          <div class="icon">
            <i class="fas fa-laptop"></i>
          </div>
          <div class="title-name">{{'rightside.workingenvironment-title' | translate}}</div>
        </div>
        <div class="working-envirnment-content">
            <p>IDE: Visual Studio Code, Eclipse, <em>IntelliJ</em></p>
            <div class="icons">
              <img class="icon" alt="VSC" src="./assets/icons/Visual_Studio_Code_icon.svg">
              <img class="icon" alt="Eclipse" src="./assets/icons/Eclipse-SVG.svg">
              <img class="icon" alt="IntelliJ" src="./assets/icons/icon_IntelliJIDEA.svg">
            </div>
            <p>Langages: JavaScript, HTML/CSS, Java, SQL, <em>NoSql</em></p>
            <div class="icons">
                <img class="icon" alt="JS" src="./assets/icons/icons-nodejs.svg">
                <img class="icon" alt="HTML" src="./assets/icons/html5.svg">
                <img class="icon" alt="CSS" src="./assets/icons/icon-css3.svg">
                <img class="icon" alt="JAVA" src="./assets/icons/java_icon.svg">
                <img class="icon-sql" alt="sql" src="./assets/icons/microsoft-sql-server.svg">
                <img class="icon-nosql" alt="sql" src="./assets/icons/MongoDB-Logo.svg">
            </div>
            <p>Frameworks: Angular, ExpressJS, <em>Spring Boot</em></p>
            <div class="icons">
                <img class="icon" alt="Angular" src="./assets/icons/angular-icon.svg">
                <img class="icon" alt="Spring" src="./assets/icons/springio-icon.svg">
            </div>
        </div>
      </article>
      <article class="personal-skills">
        <div class="title">
          <div class="icon">
            <i class="fas fa-male"></i>
          </div>
            <div class="title-name">{{'rightside.personalskills-title' | translate}}</div>
        </div>
        <div class="personal-skills-content">
          <ul class="skills-list">
              <li>{{'rightside.personalskills.skill1' | translate}}</li>
              <li>{{'rightside.personalskills.skill2' | translate}}</li>
              <li>{{'rightside.personalskills.skill3' | translate}}</li>
              <li>{{'rightside.personalskills.skill4' | translate}}</li>
          </ul>
        </div>
    </article>
    <article class="interests">
        <div class="title">
          <div class="icon">
            <i class="fas fa-heart"></i>
          </div>
            <div class="title-name">{{'rightside.interests-title' | translate}}</div>
        </div>
        <div class="personal-skills-content">
          <ul class="skills-list">
              <li>{{'rightside.interests.interest1' | translate}}</li>
              <li>{{'rightside.interests.interest2' | translate}}</li>
              <li>{{'rightside.interests.interest3' | translate}}</li>
              <li>{{'rightside.interests.interest4' | translate}}</li>
          </ul>
        </div>
    </article>
    </div>
  </div>
</div>
