@import '../../../styles.scss';

@media(orientation: portrait){
    .id-part{
      display:flex;
      justify-content: center;
      align-items:center;
      width:100%;
      padding-top:15px;
      padding-bottom:15px;
      border-bottom: 1px solid $divider-color;
      background-color:$dark-primary-color;
      //border-right: 2px solid $dark-primary-color;
    }
  
    .ma-photo-container{
      background:url("../../../assets/img/maphoto2-resized.png");
      background-size:cover;
      border-radius:50%;
      width:150px;
      height:150px;
      //transition:0.5s;
      border: 5px solid #eee;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    }

    .informations{
      opacity:1;
      width:100%;
      transition: 0.5s;

      .names-job-contact{
        background-color:$dark-primary-color;
        padding-left:5px;
        padding-top:5px;
        padding-right:5px;
        box-shadow: 0px 3px 2px 2px rgba(166, 166, 171, 0.2);
        color:$text-icons;
  
        p{
          margin:0;
        }
        
        .names{
          padding-bottom:3px;
        }
  
        .job{
          padding-top:3px;
        }
  
        .contact{
          padding:10px 0px 5px 0px;
          width:100%;
      
          .contact-content{
            display:flex;
            flex-direction: row;
            justify-content:space-between;
            margin: 10px 0px 10px 0px;
  
            .icon{
              display:flex;
              justify-content: center;
              align-items: center;
            }
  
            .contact-info{
              margin:0;
            }
          }
        }
      }

      .about-me{
        //width:100%;
        padding-left:5px;
        padding-top:5px;
        padding-right:5px;

        .working-environment{
          display:flex;
          flex-direction:column;
          padding-bottom:10px;

          .title{
            display:flex;
            flex-direction:row;
            color:$primary-text;

            .icon{
              display:flex;
              justify-content: center;
              align-items: center;
            }

            .title-name{
              padding-left:5px;
            }
          }

          .working-envirnment-content{

            p{
              margin:0;
              padding:5px 0px 5px 0px;
              font-size:14px;
              color:$secondary-text;
            }

            .icons{
              display:flex;
              flex-direction:row;
              flex-wrap:wrap;
              padding:5px 0px 5px 0px;

              .icon{
                padding:0px 5px 0px 5px;
                height:16px;
                width:16px;
              }
  
              .icon-sql{
                padding:0px 5px 0px 5px;
                height:16px;
                width:19px;
              }
  
              .icon-nosql{
                padding:0px 5px 0px 5px;
                height:16px;
                width:58px;
              }
            }
          }
        }

        .personal-skills{
          display:flex;
          flex-direction:column;
          padding-bottom:10px;

          .title{
            display:flex;
            flex-direction:row;
            color:$primary-text;

            .icon{
              display:flex;
              justify-content: center;
              align-items: center;
            }

            .title-name{
              padding-left:5px;
              //text-overflow: ellipsis;
            }
          }

          .personal-skills-content{
            color:$secondary-text;

            .skills-list{
              list-style:none;
              padding-left:10px;
              font-size:0.9em;
              margin:5px 0px 5px 0px;

              li{
                padding:3px 0px 3px 0px;
              }
            }
          }
        }

        .interests{
          display:flex;
          flex-direction:column;
          padding-bottom:10px;

          .title{
            display:flex;
            flex-direction:row;
            color:$primary-text;

            .icon{
              display:flex;
              justify-content: center;
              align-items: center;
            }

            .title-name{
              padding-left:5px;
            }
          }

          .personal-skills-content{
            color:$secondary-text;

            .skills-list{
              list-style:none;
              padding-left:10px;
              font-size:0.9em;
              margin:5px 0px 5px 0px;

              li{
                padding:3px 0px 3px 0px;
              }
            }
          }
        }
      }
    }
  }
  
  @media(orientation: portrait) and (max-width:460px){
    .id-part{
      display:flex;
      justify-content: center;
      align-items:center;
      width:100%;
      padding-top:15px;
      padding-bottom:15px;
    }
  
    .ma-photo-container{
      background:url("../../../assets/img/maphoto2-resized.png");
      background-size:cover;
      border-radius:50%;
      width:100px;
      height:100px;
      //transition:0.5s;
      border: 5px solid #eee;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    }
  
    .informations:before{
      opacity:0;
    }

    .informations{
      opacity:1;
      transition: 4s;
    }
  }