@media(orientation: landscape){
    .id-part{
      width:100%;
      height:100%;
    }
  
    .ma-photo-container{
      width:100%;
      height:inherit;
      background:url("../../../assets/img/grece2019-resized.png");
      background-size:cover;
      //background-attachment:fixed;
      background-position:center;
      transition:0.5s;
      display:flex;
      align-items:flex-end;

      p{
        margin:0px;
      }
    }

  }
  
  @media(orientation: landscape) and (max-width:1388px){
    .id-part{
      width:100%;
      height:100%;
    }
  
    .ma-photo-container{
      width:100%;
      height:inherit;
      background:url("../../../assets/img/grece2019-resized.png");
      background-size:cover;
      //background-attachment:fixed;
      background-position:center;
      //background-position-x: -190px;
      transition:0.5s;
    }
  
  }
  
  @media(orientation: landscape) and (max-width:1000px){
    .id-part{
      width:100%;
      height:100%;
    }
  
    .ma-photo-container{
      width:100%;
      height:inherit;
      background:url("../../../assets/img/grece2019-resized.png");
      background-size:cover;
      //background-attachment:fixed;
      background-position:center;
      transition:0.5s;
    }
  
  }